/* Переменные */
:root {
    --backgrond-color:#ffffff;
    --nav-link-color:#212121;
    --focus-color: #2196F3;
    --logo-color: #2196F3;
    --text-color:#757575;
    --title-color:#212121;
    --button-text-color:#212121;
}

/* основные стили */
body {
    background-color: var(--backgrond-color);
    color: var(--text-color);
    font-family: Roboto,sans-serif;
    /* identical to box height, or 188% */
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
}

/* Оформление списков навигации и контактов */

.nav-list, .contacts {
    list-style: none;
}

/* лого первая часть */
.logo /* ,.logo:hover,.logo:focus  */
{
    color: var(--logo-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    text-decoration: none;
}

/* Лого вторая часть */
.logo-part /* ,.logo-part:focus,.logo-part:hover */
 {
    --logo-color:#000000;
    color:var(--logo-color);
}

/* Ссылки навигации */
.nav-link {
    color: var(--nav-link-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

/* Подсветка текущей страницы и наведения */
.current, .nav-link:hover, .nav-link:focus {
    color: var(--focus-color);
}



/* оформление контактов */
.contacts-item {
    color: var(--text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacts-item:hover, .contacts-item:focus  {
    color: var(--focus-color);
}

/* Стилизация основы */

/* Секция герой */
.hero{

}

/* Оформления заголовка */
.hero-title {
    background-color: #757575; /*временное значение*/
    --title-color:#ffffff;
    color:var(--title-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase; 
}

/* кнопка герой */
.hero-button {
    --button-text-color:#ffffff;
    color: var(--button-text-color);
    background-color: #2196F3;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.8;
    /* identical to box height, or 188% */
    letter-spacing: 0.06em;
    cursor: pointer;
}

/* Секция преимущества */
.benefits {

}

/* Оформление заголовка преимуществ */
.title {
    color: var(--title-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

/* оформление списка преимуществ */
.benefits .list {
    list-style: none;
}

/* оформление преимущества */
.list-item {
    color: var(--title-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

/* секция услуги */
.services {

}

/* оформление списка услуг */
.services .list {
    list-style: none;
}

/* секция команда */
.team {

}

/* оформление списка команды */
.team .list {
    list-style: none;
}

/* офрормление сотрудника */
.team-member {
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    text-align: center;
}

/* оформление должности */
.position {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    text-align: center;
}

/* оформление списка фильтра */
.filter {
    list-style: none;
}

/* оформление кнопок фильтра */
.filter-button {
    color: var(--button-text-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    /* identical to box height, or 162% */
    letter-spacing: 0.03em;
    cursor: pointer;
}


.filter-button:hover, .filter-button:focus {
    --text-color:#ffffff;
    color: var(--text-color);
    background-color: var(--focus-color);
    
}

/* оформление списка проектов */
.projects-list {
    list-style: none;
}

/* оформление карточки проекта */
.projects-link {
    text-decoration: none;
}

/* офрмление названия проекта */
.projects-name {
    color: var(--title-color);
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
}

/* оформление типа проекта */
.projects-type {
    color:var(--text-color);
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 188% */
}

/* оформление сотостояния карточки проекта */
 .projects-name:active,.projects-name:hover,.projects-name:focus,
 .projects-type:active, .projects-type:hover, .projects-type:focus {
     color: var(--focus-color);
 }

/* footer style */

/* меняем цвет заливки, тк лого белый и текст белый */
.footer-section {
    --background-color:#2F303A;
    background-color: var(--background-color);
}
.footer-section .logo-part {
    --logo-color:#ffffff;
    color: var(--logo-color);
}
.physical-address {
    --text-color:#ffffff;
    color: var(--text-color);
    font-style: normal;
    
}

.web-address{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.web-address:hover, .web-address:focus {
    color:var(--focus-color);
}
